.MainFrame {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.pane-title {
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content: space-between;
  background-color: rgb(1, 96, 45);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vh;
  font-family: "Times New Roman", Times, serif;
}

.SimFrame {
  display: flex;
  flex-direction: row;
}
.Simulators-pane {
  overflow: scroll;
  width: 40vw;
}

.MainFrame-pane {
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.pane-left {
  width: 20vw;
  background-color: rgb(1, 96, 45);
}

.SimButton {
  padding: 1rem;
}
